# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# On ignore les dépendances PHP
server/vendor/
server/.env

# On ignore les dépendances React
client/node_modules/
client/.env
client/dist/

# On ignore les fichiers systèmes
.DS_Store
Thumbs.db